.footer{ 
    color: #d9d9d9;
    background-color: #7a0101;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 50px;
}

.footer-content-left img{
    width: 170px;
    height: 55px;
}

.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 80px;
}

.footer-content-left, .footer-content-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
} 

.footer-content-center{
    display: flex;
    flex-direction: column;
    align-items: start;
margin-left: 150px;

}

.footer-content-left li, .footer-content-right li, .footer-content-center li {
    list-style: none;
    margin-bottom: 10px;
    cursor:pointer;
} 

 .footer-content-right h2, .footer-content-center h2 {
    color: white;
} 

.footer-social-icons img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background-color: #6c1111;  
    border: none;
    /* opacity: 0.4; */
} 

.footer-copyright{
    opacity: 0.5;
}


@media (max-width:750px) {
    .footer-content {
    display: flex;
    flex-direction: column;
    gap: 35px;
    }
    .footer-copyright{
    text-align: center;
    }
}