.food-display{
    margin-top: 30px;
    /* margin-bottom: 20px; */
}

.food-display h2{
    font-size: max(2vw, 20px);
    font-weight: 600;
    color: rgb(28, 28, 28);

}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 30px;
    row-gap: 50px;
    margin-top: 30px;
    /* margin-bottom: 0px; */
}